{% extends 'base.html.twig' %}

{% block title %}Se connecter | {{ parent() }}{% endblock %}

{% block body %}

    <div class="form-template">
        <div class="container-form-template form-login">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="form-titre text-center">Se connecter</h1>
            <div class="my-3">
                <label for="inputEmail" class="form-label required">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Saisissez votre email" autocomplete="email" required autofocus>
            </div>
            <div class="my-3">
                <label for="inputPassword" class="form-label required">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Saisissez votre mot de passe" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="form-buttons pt-3">
                <button class="btn-primary" type="submit">Se connecter</button>
                <a class="btn-secondary" href="{{ path('app_register') }}">Créer une compte</a>
            </div>
        </form>

        </div>

    </div>
{% endblock %}
