{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="form-template">
        <div class="container-form-template">
        <h1 class="form-titre text-center">S'enregistrer</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="form-buttons">
            <button type="submit" class="btn-primary">Créer une compte</button>
            </div>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
